
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>

<h3>Mission</h3>
<p>
    To facilitate a discussion environment for .NET developers and IT professionals focusing
    on building real-world solutions using the Microsoft.NET platform. To provide the
    opportunity for members to share knowledge and participate in advanced technological
    discussions with other local community members and other industry recognized leaders.
</p>

<h3>Leaders</h3>
<ul>
    <li>
        <div><strong>Matt Ruwe - Co-Leader .Net UG</strong> &nbsp;<a href="mailto:mruwe@omahamtg.com">mruwe@omahamtg.com</a>
        </div>
        <p>Matt has more than 20 years of professional experience building enterprise web and
            windows application using Microsoft technologies. Matt's current role is as a Senior Manager with Sogeti USA. 
            Matt has worked in multiple industries, and has used many different technologies throughout his career.</p>
    </li>
    <li>
        <div>
            <strong>Brian Olson - Co-Leader .Net UG</strong> &nbsp;<a href="mailto:bolson@omahamtg.com">bolson@omahamtg.com</a>
        </div>
        <p>
            Brian Olson has 15 years experience building web software using the Microsoft platform.
            Brian has developed solutions using ASP.NET, Adobe Flex, SQL Server, and ESRI GIS Server software.
            While he enjoys working with some non-Microsoft tools such as Node.js, the .Net platform is his primary tool of choice. 
            Brian is primarily responsible for the maintenance of the
            OmahaMTG web site and any questions should be directed to him.
        </p>
    </li>
    <li>
        <div>
            <strong>Kerry Dirks - SharePoint User Group Co-Leader</strong> &nbsp;<a href="mailto:kerry.dirks@us.sogeti.com">kerry.dirks@us.sogeti.com</a>
            <p>
                Kerry Dirks CSM, MCP grew up on a dusty farm in Fonda, IA, majored in both MIS and Statistics at UNO and is now Manager Consultant at
                Sogeti USA Consulting focusing on Enterprise Content Management Platforms and Products (i.e.; SharePoint, Office and 3rd Party Integration and Migration Products).
            </p>
            <p>
                In addition to co-leading the Omaha SharePoint User Group, Kerry has been a frequent SharePoint Saturday
                speaker at Omaha, Denver, Kansas City and Phoenix on the evolving topic of 
                <a href="http://www.slideshare.net/kerdirks/leverage-collaboration-for-innovation-sps-denver-2015" target="_blank">Leveraging Collaboration for Innovation</a>.
            </p>
            <p>
                My passion is to mentor, teach and empower people to improve upon whatever their doing through enterprise/business analysis, governance, 
                information architecture, business process management, business intelligence, content/document management, collaboration for innovation, etc.
            </p>
        </div>
        <p>

        </p>
    </li>
    <li>
        <div>
            <strong>David Petersen - SharePoint User Group Co-Leader</strong> &nbsp;<a href="mailto:david@omahaspug.org">david@omahaspug.org</a>
            <p>David Petersen is an owner of H4 Technology, where he serves as the
                Director of Technology. A frequent speaker at conferences and user
                group meetings, he has a passion for helping organizations maximize
                their investment in SharePoint. He started programming computers in
                1979, and after an eight-year stint in the United States Marine Corps,
                has held positions in IT organizations from desktop support, to IT
                Director and now owning a software development company. He wrote his
                first web part in 2001 for (Tahoe Server) SharePoint Portal Server and
                he has specialized in building custom SharePoint solutions for the
                last several years. He co-authored a book for Apress entitled, Pro
                SharePoint Designer 2010.</p>
        </div>
        <p>

        </p>
    </li>
    <li>
        <div>
            <strong>Phil Brammer - SQL/BI usr Group leader</strong> &nbsp;<a href="mailto:phil.brammer@omahasql.com">phil.brammer@omahasql.com</a>
        </div>
        <p>

        </p>
    </li>



</ul>

<h3>History</h3>
<p>MidNet - MidNet was started in May of 2001 by Philip Wolfe and a group from Quilogy.
    The first meeting was held in May of 2001 at the Embassy Suites with a presentation
    by Ed Young of Microsoft and Philip Wolfe of Quilogy. During the course of the next
    two years, Midnet had 12 successful meetings, highlighted by a speaking engagement
    by Quilogy consultant Dan Fox, author of several .NET books. MidNet's role consisted
    of 200 people with an average meeting size of 30. Midnet has had two leaders, Philip Wolfe,
    initial founder, was president from May 2001- Oct. 2002 and Wayne Hoge from Oct. 2002 - March 2003.
    October 2002 saw the acceptance of Midnet into the International .NET Association (INETA) organization.
    This association was a major step for the group. INETA offer many benefits including big name
    speakers to present at meetings and the ability to network with other .NET groups around the country. 
    Midnet merged with Omaha.NET in April of 2003.</p>
<p>Omaha.NET - Omaha.NET was started in September of 2002 by Joe Olsen and Sean Chapman. With immediate
    need for a new .NET user group, Microsoft and INETA aided the start-up of ODN. After several months of
    planning and organization, Omaha.NET held it's first official meeting in January of 2003. Through
    partnerships with Brinkster, Microsoft, and INETA, ODN was able to leap ahead of the curve with an
    outstanding web presence, and several key partnerships throughout the Omaha and Microsoft development
    community. In the best interest of our members and the group's goals, the MidNet users group merged with 
    ODN in April of 2003. The new group became the central source for all Omaha area .NET development.</p>
<p>In November of 2005 Joe Olsen stepped down as president to start his own business, <a href="http://www.phenomblue.com.">Phenomblue</a>
    Joe is still an active member in the user group. He is the director of the Heartland Developer Conference,
    an annual conference in the midwest focused on bringing national and regional speakers to local user groups.
</p>
