
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OmahaMTG Code Of Conduct</h2>

<p>
    The Omaha .NET User's Group recognizes the importance of a harassment-free experience for everyone,
    regardless of gender, gender identity and expression, sexual orientation, disability,
    physical appearance, body size, race, age or religion. We expect anyone at a .NET UG Event,
    including but not limited to organizers, volunteers, attendees, speakers, venue staff, sponsors,
    exhibitors, caterers, and guests, to treat each other with respect and to not engage in behavior deemed harassing in nature.
</p>

<p>
    Harassment includes verbal comments that reinforce social structures of domination related to gender, 
    gender identity and expression, sexual orientation, disability, physical appearance, body size, race, 
    age, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing 
    photography or recording, sustained disruption of talks or other events, inappropriate physical contact, 
    and unwelcome sexual attention.


</p>



<p>
    We expect participants to follow these rules at all .NET User's Group venues and related social events.


</p>
