
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OmahaMTG Code Of Conduct</h2>

<p>
    OmahaMTG recognizes the importance of a harassment-free conference experience for everyone,
    regardless of gender, gender identity and expression, sexual orientation, disability,
    physical appearance, body size, race, age or religion. We expect anyone at an Amegala Event,
    including but not limited to organizers, volunteers, attendees, speakers, venue staff, sponsors,
    exhibitors, caterers, and guests, to treat each other with respect and to not engage in behavior deemed harassing in nature.
</p>

<p>
    Harassment includes verbal comments that reinforce social structures of domination related to gender, 
    gender identity and expression, sexual orientation, disability, physical appearance, body size, race, 
    age, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing 
    photography or recording, sustained disruption of talks or other events, inappropriate physical contact, 
    and unwelcome sexual attention.


</p>

<p>
    Exhibitors in sponsor or vendor booths, or similar activities are also subject to the anti-harassment 
    policy. In particular, exhibitors should not use sexualized images, activities, or other material. 
    Booth staff (including volunteers) should not use sexualized clothing/uniforms/costumes, or 
    otherwise create a sexualized environment.


</p>

<p>
    We expect participants to follow these rules at all conference venues and conference-related social events.


</p>