
@{
    ViewBag.Title = "Contribute";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contribute</h2>

<p>
    As a User Group our success depends on our members. The more active you are in the group,
    the more successful the group as a whole is. There are a number of ways you can contribute to our group.
</p>

<ul>
    <li>
        <p>
            Attend our meetings. It may sound simple, but just attending the meetings ready to learn something
            new is a great way to contribute. In addition to the presentation you will have the opportunity to
            hang out with other local developers who are also passionate about learning.
        </p>
    </li>

    <li>
        <p>
            Present at a meeting! Giving a presentation can be a very rewarding experience. While it can be
            overwhelming to present at a large event, a local user group can be a great lower stress environment to
            get your start. Please contact the group leaders of the group you are interested in presenting at to discuss it with them.
            You can find the group leaders on our <a href="/pages/About">About</a> page.
        </p>
    </li>
    <li>
        <p>
            Contribute to the Site! The source for this site is hosted in GitHub <a href="https://github.com/OmahaMTG/OmahaMTG.Website" target="_blank">Here</a>.
            We have a list of items we want to add to the site. And we accept pull requests.
            Please reach out to Brian Olson before you begin working to coordinate any additions.
        </p>
    </li>
</ul>
