
@{
    ViewBag.Title = "Sponsors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sponsors</h2>

<div class="row">
    <div class="col-md-5">
        <h3>Our Platinum Sponsor</h3>
        <hr />
        <p>

            <a href="https://www.fcsamerica.com/"><img src="~/Content/fcsa2.gif" alt="Farm Credit Services of America" /></a>
        </p>
        <p>
            Farm Credit Services of America is a customer-owned financial cooperative proud to finance the growth of rural America,
            including the special needs of young and beginning producers. With nearly $24.8 billion in assets and $4.3 billion in
            members’ equity, FCSAmerica is one of the region’s leading providers of credit and insurance services to farmers,
            ranchers, agribusiness and rural residents in Iowa, Nebraska, South Dakota and Wyoming.
        </p>
        <p>
            At Farm Credit Services of America our unique culture is about many things. It’s the engagement and pride in
            serving agriculture and our community that drives us to be the best. Every day, every one of us is empowered
            to be innovators, experts, servants and leaders. Our commitment to team work and our core values is really what
            sets us apart. And we have Fun! Many employees join FCSAmerica because current employees tell them about the team
            culture and inclusive environment. From the moment you come to work at FCSAmerica, you know there is something
            special about working here – you can feel it!
        </p>
        <p>Site hosting provided by <a href="http://www.DiscountASP.net" target="_blank">www.DiscountASP.net</a></p>
    </div>
    <div class="col-md-7">
        
        
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#TabSponsors2018" aria-controls="home" role="tab" data-toggle="tab">2018</a></li>
            <li role="presentation"><a href="#TabSponsors2017" aria-controls="profile" role="tab" data-toggle="tab">2017</a></li>
        </ul>
        

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="TabSponsors2018">
                <table class="table table-striped">
                    <caption id="Sponsors2018">2018 Sponsors</caption>
                    <thead>
                    <tr>
                        <th>Month</th>
                        <th>Sponsor</th>
                        <th>Speaker</th>
                        <th>Topic</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>January</td>
                        <td> <a href="www.us.sogeti.com">Sogeti</a></td>
                        <td>Eric Peters</td>
                        <td><a href="https://omahamtg.com/Event/Details/258">SmartThings.NET</a></td>
                    </tr>
                    <tr>
                        <td>February</td>
                        <td><a href="https://www.fcsamerica.com/">Farm Credit Services of America</a></td>
                        <td>Dustin Horne</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>March</td>
                        <td><a href="https://www.aureusgroup.com/">Aureus</a></td>
                        <td>Vaibhav Gujral</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>April</td>
                        <td><a href="http://www.lyncstream.com/">LyncStream</a></td>
                        <td>Lightning Rounds</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>May</td>
                        <td><a href="https://www.prokarma.com/careers">ProKarma</a></td>
                        <td>Joel Becker</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>June</td>
                        <td><a href="https://www.teksystems.com/en">TEKSystems</a></td>
                        <td>Jason Gallord</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>July</td>
                        <td><a href="https://www.buildertrend.com/default.aspx">BuilderTrend</a></td>
                        <td>Speaker Needed</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>August</td>
                        <td><a href="http://div-sol.com/">Diversified Solutions</a></td>
                        <td>Speaker Needed</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>September</td>
                        <td><a href="https://www.nfm.com/">Nebraska Furniture Mart</a></td>
                        <td>Speaker Needed</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>October</td>
                        <td><a href="https://dontpaniclabs.com/">Don't Panic Labs</a></td>
                        <td>Speaker Needed</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>November/December</td>
                        <td><a href="http://www.csgi.com/careers">CSG International</a></td>
                        <td>Speaker Needed</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="TabSponsors2017">
                <table class="table table-striped">
                    <caption id="Sponsors2017">2017 Sponsors</caption>
                    <thead>
                    <tr>
                        <th>Month</th>
                        <th>Sponsor</th>
                        <th>Speaker</th>
                        <th>Topic</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>January</td>
                        <td> <a href="www.us.sogeti.com">Sogeti</a></td>
                        <td>Eric Peters</td>
                        <td><a href="/Event/Details/247"> A brief journey to Microsoft Intellitest.</a></td>
                    </tr>
                    <tr>
                        <td>February</td>
                        <td><a href="http://www.lyncstream.com/">LyncStream</a></td>
                        <td>Brian Newton</td>
                        <td><a href="/Event/Details/248"> Functional Programming in .NET</a></td>
                    </tr>
                    <tr>
                        <td>March</td>
                        <td><a href="https://www.teksystems.com/en">TEKSystems</a></td>
                        <td>Nate Taylor</td>
                        <td><a href="/Event/Details/249"> Professionalism in Software Development</a></td>
                    </tr>
                    <tr>
                        <td>April</td>
                        <td><a href="https://www.aureusgroup.com/">Aureus</a></td>
                        <td>Vaibhav Gujral</td>
                        <td><a href="https://omahamtg.com/Event/Details/250">Microsoft Azure Essentials for Developers</a></td>
                    </tr>
                    <tr>
                        <td>May</td>
                        <td><a href="https://dontpaniclabs.com/">Don't Panic Labs</a></td>
                        <td>Doug Durham</td>
                        <td><a href="https://omahamtg.com/Event/Details/251">Enabling Innovation through Integrating Agile and Software Development Best Practices</a></td>
                    </tr>
                    <tr>
                        <td>June</td>
                        <td><a href="http://www.clientresourcesinc.com/">CRi</a></td>
                        <td>Vaibhav Gujral</td>
                        <td><a href="https://omahamtg.com/Event/Details/252">Azure Web Apps Deep Dive</a></td>
                    </tr>
                    <tr>
                        <td>July</td>
                        <td><a href="http://www.harbinger-partners.com/">Harbinger Partners</a></td>
                        <td>Tom Huynh</td>
                        <td><a href="https://omahamtg.com/Event/Details/253">Machine Learning</a></td>
                    </tr>
                    <tr>
                        <td>August</td>
                        <td><a href="http://div-sol.com/">Diversified Solutions</a></td>
                        <td>Brian Olson</td>
                        <td><a href="https://omahamtg.com/Event/Details/254">GPU for Fun and Profit</a></td>
                    </tr>
                    <tr>
                        <td>September</td>
                        <td><a href="https://www.fcsamerica.com/">Farm Credit Services of America</a></td>
                        <td>Travis Ellis</td>
                        <td><a href="https://omahamtg.com/Event/Details/255">Introduction to Azure Service Fabric</a></td>
                    </tr>
                    <tr>
                        <td>October</td>
                        <td><a href="https://www.buildertrend.com/default.aspx">BuilderTrend</a></td>
                        <td>Collin Forrester</td>
                        <td><a href="https://omahamtg.com/Event/Details/256">Angular Universal & .NET</a></td>
                    </tr>
                    <tr>
                        <td>November/December</td>
                        <td><a href="https://aviture.us.com/">Aviture</a></td>
                        <td>Matthew Huck</td>
                        <td><a href="https://omahamtg.com/Event/Details/257">Azure Active Directory B2C</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br />
@section Scripts{
    <script>
        $('.tab-control').tabcontrol();
    </script>
}