
@{
    ViewBag.Title = "Sponsors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sponsors</h2>

<p>Our Sponsors are the reason we can bring you great content each month with no cost to our members. Sponsors provide food
    and door prizes. </p>

<p>Each group is ran seperately from the others. If you are interested in sponsoring one of the groups please reach out to the leaders of that group
    for details on how your organization can sponsor an event.</p>

<br/>

<div role="tabpanel">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">.NET Group Sponsors</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Sharepoint Group Sponsors</a></li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">SQL/BI Group Sponsors</a></li>
        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Website Sponsors</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">List .Net sponsors</div>
        <div role="tabpanel" class="tab-pane" id="profile">List Sharepoint Sponsors</div>
        <div role="tabpanel" class="tab-pane" id="messages">List SQL Sponsors</div>
        <div role="tabpanel" class="tab-pane" id="settings">
            <br/>
            <p>
                Site hosting provided by <a href="http://www.DiscountASP.net" target="_blank">www.DiscountASP.net</a>
            </p>
        </div>
    </div>

</div>



@section Scripts{
    <script>
        $('.tab-control').tabcontrol();
    </script>
}