
@{
    ViewBag.Title = "Sponsors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sponsors</h2>

<div class="row">
    <div class="col-md-7">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#TabSponsors2020" aria-controls="home" role="tab" data-toggle="tab">2020</a></li>
            <li role="presentation"><a href="#TabSponsors2019" aria-controls="home" role="tab" data-toggle="tab">2019</a></li>
            <li role="presentation"><a href="#TabSponsors2018" aria-controls="home" role="tab" data-toggle="tab">2018</a></li>
            <li role="presentation"><a href="#TabSponsors2017" aria-controls="profile" role="tab" data-toggle="tab">2017</a></li>
        </ul>
        

        <div class="tab-content">
            
            
            <div role="tabpanel" class="tab-pane active" id="TabSponsors2020">
                <table class="table table-striped">
                    <caption id="Sponsors2019">2020 Sponsors</caption>
                    <thead>
                        <tr>
                            <th>Month</th>
                            <th>Sponsor</th>
                            <th>Speaker</th>
                            <th>Topic</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>January</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>February</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>March</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>April</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>May</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>June</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>July</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>August</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>September</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>October</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>November/December</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            
            
            
            
            <div role="tabpanel" class="tab-pane active" id="TabSponsors2019">
                <table class="table table-striped">
                    <caption id="Sponsors2019">2019 Sponsors</caption>
                    <thead>
                        <tr>
                            <th>Month</th>
                            <th>Sponsor</th>
                            <th>Speaker</th>
                            <th>Topic</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>January</td>
                            <td> <a href="https://www.kiewit.com/">Kiewit</a></td>
                            <td>Brian Olson</td>
                            <td><a href="https://omahamtg.com/Event/Details/270">Rebuilding OmahaMTG – Tips and Tricks</a></td>
                        </tr>
                        <tr>
                            <td>February</td>
                            <td><a href="https://www.us.sogeti.com/">Sogeti</a></td>
                            <td>Brandon Dunlap & Matt Elmore</td>
                            <td><a href="https://omahamtg.com/Event/Details/271">Various topics</a></td>
                        </tr>
                        <tr>
                            <td>March</td>
                            <td><a href="https://www.gallup.com/">Gallup</a></td>
                            <td>John Forget / Matt Johnson / Ashwini Jawagi</td>
                            <td><a href="https://omahamtg.com/Event/Details/272">AWS & .NET - Various Topics</a></td>
                        </tr>
                        <tr>
                            <td>April</td>
                            <td><a href="https://dontpaniclabs.com/">Don't Panic Labs</a></td>
                            <td>Tony Wilsman, Matt Will</td>
                            <td><a href="https://omahamtg.com/Event/Details/273">.NET in an AWS World</a></td>
                        </tr>
                        <tr>
                            <td>May</td>
                            <td><a href="https://www.aureusgroup.com/">Aureus Group</a></td>
                            <td>Dustin Horne & Eric Peters</td>
                            <td><a href="https://omahamtg.com/Event/Details/1273">Xbox development at a glance</a></td>
                        </tr>
                        <tr>
                            <td>June</td>
                            <td><a href="https://www.fcsamerica.com/">Farm Credit Services of America</a></td>
                            <td>Jeff Bramwell</td>
                            <td><a href="https://omahamtg.com/Event/Details/1274">The Power of Azure DevOps</a></td>
                        </tr>
                        <tr>
                            <td>July</td>
                            <td><a href="https://www.buildertrend.com/default.aspx">BuilderTrend</a></td>
                            <td>Rich Kalasky & Adam Knodel</td>
                            <td><a href="https://omahamtg.com/Event/Details/1275">Migrating from Webforms to React / Advanced troubleshooting and performance tuning</a></td>
                        </tr>
                        <tr>
                            <td>August</td>
                            <td><a href="http://div-sol.com/">Diversified Solutions</a></td>
                            <td>Javier Loranzo</td>
                            <td><a href="https://omahamtg.com/Event/Details/1276">.NET Development Yesterday, Today and Tomorrow</a></td>
                        </tr>
                        <tr>
                            <td>September</td>
                            <td><a href="https://www.harbinger-partners.com/">Harbinger Partners</a></td>
                            <td>Vaibhav Gujral</td>
                            <td><a href="https://omahamtg.com/Event/Details/1277">Building and Deploying containers using Docker and Azure</a></td>
                        </tr>
                        <tr>
                            <td>October</td>
                            <td><a href="https://advantagetech.net/">Advantage Tech</a></td>
                            <td>Jonathan Ayoub</td>
                            <td><a href="https://omahamtg.com/Event/Details/1278">Demystifying Test-Driven Development - With Examples in ASP.NET Core</a></td>
                        </tr>
                        <tr>
                            <td>November/December</td>
                            <td><a href="https://www.nebraskablue.com/">Blue Cross Blue Shield</a></td>
                            <td>Marcus Kern</td>
                            <td><a href="https://omahamtg.com/Event/Details/1279">Game Development For C# Developers</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="TabSponsors2018">
                <table class="table table-striped">
                    <caption id="Sponsors2018">2018 Sponsors</caption>
                    <thead>
                        <tr>
                            <th>Month</th>
                            <th>Sponsor</th>
                            <th>Speaker</th>
                            <th>Topic</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>January</td>
                            <td> <a href="www.us.sogeti.com">Sogeti</a></td>
                            <td>Eric Peters</td>
                            <td><a href="https://omahamtg.com/Event/Details/258">SmartThings.NET</a></td>
                        </tr>
                        <tr>
                            <td>February</td>
                            <td><a href="https://www.fcsamerica.com/">Farm Credit Services of America</a></td>
                            <td>Dustin Horne</td>
                            <td><a href="https://omahamtg.com/Event/Details/259">Demystifying the ASP .NET Core Middleware Pipeline</a></td>
                        </tr>
                        <tr>
                            <td>March</td>
                            <td><a href="https://www.aureusgroup.com/">Aureus</a></td>
                            <td>Vaibhav Gujral</td>
                            <td><a href="https://omahamtg.com/Event/Details/260">Building Microservices on Azure</a></td>
                        </tr>
                        <tr>
                            <td>April</td>
                            <td><a href="http://www.lyncstream.com/">LyncStream</a></td>
                            <td>Thomas Pizzo</td>
                            <td><a href="https://omahamtg.com/Event/Details/261">Basics of OAuth and OpenID Connect</a></td>
                        </tr>
                        <tr>
                            <td>May</td>
                            <td><a href="https://www.prokarma.com/careers">ProKarma</a></td>
                            <td>Joel Becker</td>
                            <td><a href="https://omahamtg.com/Event/Details/262">The World of Computer Vision</a></td>
                        </tr>
                        <tr>
                            <td>June</td>
                            <td><a href="https://www.teksystems.com/en">TEKSystems</a></td>
                            <td>Jonathan Ayoub</td>
                            <td><a href="https://omahamtg.com/Event/Details/263">Automated Unit Testing in .NET</a></td>
                        </tr>
                        <tr>
                            <td>July</td>
                            <td><a href="https://www.buildertrend.com/default.aspx">BuilderTrend</a></td>
                            <td>Sam Kirkland & Dan Drews</td>
                            <td><a href="https://omahamtg.com/Event/Details/264">Machine Learning and Regular Expressions</a></td>
                        </tr>
                        <tr>
                            <td>August</td>
                            <td><a href="http://div-sol.com/">Diversified Solutions</a></td>
                            <td>Lighting Rounds</td>
                            <td><a href="https://omahamtg.com/Event/Details/265">Various topics</a></td>
                        </tr>
                        <tr>
                            <td>September</td>
                            <td><a href="https://www.nfm.com/">Nebraska Furniture Mart</a></td>
                            <td>Vaibhav Gujral</td>
                            <td><a href="https://omahamtg.com/Event/Details/266">Going Serverless with Azure Functions</a></td>
                        </tr>
                        <tr>
                            <td>October</td>
                            <td><a href="https://dontpaniclabs.com/">Don't Panic Labs</a></td>
                            <td>Doug Durham</td>
                            <td><a href="https://omahamtg.com/Event/Details/267">Azure Service Fabric</a></td>
                        </tr>
                        <tr>
                            <td>November/December</td>
                            <td><a href="http://www.csgi.com/careers">CSG International</a></td>
                            <td>Marcus Kern</td>
                            <td><a href="https://omahamtg.com/Event/Details/268">Facial Recognition</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="TabSponsors2017">
                <table class="table table-striped">
                    <caption id="Sponsors2017">2017 Sponsors</caption>
                    <thead>
                        <tr>
                            <th>Month</th>
                            <th>Sponsor</th>
                            <th>Speaker</th>
                            <th>Topic</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>January</td>
                            <td> <a href="www.us.sogeti.com">Sogeti</a></td>
                            <td>Eric Peters</td>
                            <td><a href="/Event/Details/247"> A brief journey to Microsoft Intellitest.</a></td>
                        </tr>
                        <tr>
                            <td>February</td>
                            <td><a href="http://www.lyncstream.com/">LyncStream</a></td>
                            <td>Brian Newton</td>
                            <td><a href="/Event/Details/248"> Functional Programming in .NET</a></td>
                        </tr>
                        <tr>
                            <td>March</td>
                            <td><a href="https://www.teksystems.com/en">TEKSystems</a></td>
                            <td>Nate Taylor</td>
                            <td><a href="/Event/Details/249"> Professionalism in Software Development</a></td>
                        </tr>
                        <tr>
                            <td>April</td>
                            <td><a href="https://www.aureusgroup.com/">Aureus</a></td>
                            <td>Vaibhav Gujral</td>
                            <td><a href="https://omahamtg.com/Event/Details/250">Microsoft Azure Essentials for Developers</a></td>
                        </tr>
                        <tr>
                            <td>May</td>
                            <td><a href="https://dontpaniclabs.com/">Don't Panic Labs</a></td>
                            <td>Doug Durham</td>
                            <td><a href="https://omahamtg.com/Event/Details/251">Enabling Innovation through Integrating Agile and Software Development Best Practices</a></td>
                        </tr>
                        <tr>
                            <td>June</td>
                            <td><a href="http://www.clientresourcesinc.com/">CRi</a></td>
                            <td>Vaibhav Gujral</td>
                            <td><a href="https://omahamtg.com/Event/Details/252">Azure Web Apps Deep Dive</a></td>
                        </tr>
                        <tr>
                            <td>July</td>
                            <td><a href="http://www.harbinger-partners.com/">Harbinger Partners</a></td>
                            <td>Tom Huynh</td>
                            <td><a href="https://omahamtg.com/Event/Details/253">Machine Learning</a></td>
                        </tr>
                        <tr>
                            <td>August</td>
                            <td><a href="http://div-sol.com/">Diversified Solutions</a></td>
                            <td>Brian Olson</td>
                            <td><a href="https://omahamtg.com/Event/Details/254">GPU for Fun and Profit</a></td>
                        </tr>
                        <tr>
                            <td>September</td>
                            <td><a href="https://www.fcsamerica.com/">Farm Credit Services of America</a></td>
                            <td>Travis Ellis</td>
                            <td><a href="https://omahamtg.com/Event/Details/255">Introduction to Azure Service Fabric</a></td>
                        </tr>
                        <tr>
                            <td>October</td>
                            <td><a href="https://www.buildertrend.com/default.aspx">BuilderTrend</a></td>
                            <td>Collin Forrester</td>
                            <td><a href="https://omahamtg.com/Event/Details/256">Angular Universal & .NET</a></td>
                        </tr>
                        <tr>
                            <td>November/December</td>
                            <td><a href="https://aviture.us.com/">Aviture</a></td>
                            <td>Matthew Huck</td>
                            <td><a href="https://omahamtg.com/Event/Details/257">Azure Active Directory B2C</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br />
@section Scripts{
    <script>
        $('.tab-control').tabcontrol();
    </script>
}
