@model IEnumerable<OmahaMtg.Events.EventInfo>
@{
    Layout = null;
}



<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            <a class="list " href="@string.Format("\\Event\\Details\\{0}", item.Id)">
                @Html.DisplayFor(modelItem => item.Title)
            </a>
        </li>
    }
</ul>

