



<footer class="footer">
    <div class="container" style="padding: 10px 0; margin-top: 25px">
        <div class="row">
            <div class="col-md-4"><b>OmahaMTG.com</b> is a collection of User Groups in the Omaha Metro area
                        focused on Microsoft Technology. Each group focuses on a set of
                        Microsoft Technologies and meets independently. Please visit the About page for more information.</div>
            <div class="col-md-4">
                <a class="btn btn-primary" style="width: 100%; margin-bottom: 5px" href="http://msdn.microsoft.com" target="_blank">Microsoft</a>
                <a class="btn btn-primary" style="width: 100%; margin-bottom: 5px" href="http://www.asp.net" target="_blank">ASP.NET</a>
                
                <a class="btn btn-primary" style="width: 100%; margin-bottom: 5px;" href="http://www.sqlpass.org/" target="_blank">PASS</a>
                <a class="btn btn-primary" style="width: 100%; margin-bottom: 5px" href="http://www.discountASP.net" target="_blank">Hosting Provided by DiscountASP</a>
            </div>
            <div class="col-md-4">
                <div style="text-align: center; padding: 3px">Find us On</div>
                <a class="btn btn-primary" style="width: 100%; margin-bottom: 5px;" href="https://bit.ly/2nIjSNB" target="_blank">Slack</a>
                <a class="btn btn-primary" style="width: 100%; margin-bottom: 5px" href="https://www.facebook.com/OmahaMTG" target="_blank">Facebook</a>
                <a class="btn btn-primary" style="width: 100%; margin-bottom: 5px" href="https://twitter.com/OmahaMtg" target="_blank">Twitter</a>
                <a class="btn btn-primary" style="width: 100%; margin-bottom: 5px;" href="https://github.com/OmahaMTG/" target="_blank">Github</a>
            </div>
        </div>
    </div>
</footer>
