
<div class="bg-dark" >
    <div class="container" style="padding: 10px 0; margin-top: 25px">

        <div class="grid no-margin">
            <div class="row no-margin">
                <div class="span6 padding10">
                    <p class="fg-white">
                        <b>OmahaMTG.com</b> is a collection of User Groups in the Omaha Metro area
                        focused on Microsoft Technology. Each group focuses on a set of
                    Microsoft Technologies and meets independently. Please visit the About page for more information.
                        </p>
            </div>
                <div class="span4 padding10">
                    <a class="button danger " style="width: 100%; margin-bottom: 5px" href="http://msdn.microsoft.com" target="_blank">Microsoft</a>
                    <a class="button success " style="width: 100%; margin-bottom: 5px" href="http://www.asp.net" target="_blank">ASP.NET</a>
                    <a class="button info " style="width: 100%; margin-bottom: 5px" href="http://www.ineta.org/default.aspx" target="_blank">ineta</a>
                    <a class="button warning " style="width: 100%; margin-bottom: 5px;" href="http://www.sqlpass.org/" target="_blank">PASS</a>
                </div>
                <div class="span4 padding10 fg-white" >
                    <div style="text-align: center; padding:3px">Find us On</div>
                    <a class="button success " style="width: 100%; margin-bottom: 5px" href="https://www.facebook.com/OmahaMTG" target="_blank">Facebook</a>
                    <a class="button info " style="width: 100%; margin-bottom: 5px" href="https://twitter.com/OmahaMtg" target="_blank">Twitter</a>
                    <a class="button warning " style="width: 100%; margin-bottom: 5px;" href="https://github.com/OmahaMTG/" target="_blank">Github</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container tertiary-text bg-dark fg-white" style="padding: 10px; text-align: right">
        Hosting provided by <a href="http://www.hero4hire.com" target="_blank">www.Hero4Hire.com</a>
    </div>
</div>