@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OmahaMTG Admin Home</h2>

<ul>


    <a href="/admin/event/">
        <div class="tile bg-lightBlue">
            <div class="tile-content icon">
                <i class="icon-calendar"></i>
            </div>
            <div class="brand bg-dark opacity">
                <span class="text">
                    Event Manager
                </span>
            </div>
        </div>
    </a>

    <a href="/admin/Email/">
        <div class="tile bg-lightBlue">
            <div class="tile-content icon">
                <i class="icon-mail"></i>
            </div>
            <div class="brand bg-dark opacity">
                <span class="text">
                    Email Users
                </span>
            </div>
        </div>
    </a>


        <div class="tile bg-gray">
            <div class="tile-content icon">
                <i class="icon-user"></i>
            </div>
            <div class="brand bg-dark opacity">
                <span class="text">
                    User Manager
                </span>
            </div>
        </div>

</ul>

