/*body {
    padding-top: 50px;
    padding-bottom: 20px;

}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

textarea {
  resize: vertical; 
}*/

/*Banner Adds*/
#sponsor-banner-add-link img {
    width: 100%;
}
/*End Banner Adds*/
/*Admin/BannerAdds*/
.banner-add-admin-list {
    max-width:200px;
    max-height:100px;
}
/*End Admin/BannerAdds*/
.navbar {
      width: 100%;
  display: block;
  background-color: #1ba1e2;
  color: #fff;

}

.navbar-default .navbar-nav > li > a {
    color:#ffffff
}

.navbar-default .navbar-nav > form > li > a {
    color: #ffffff;

    position: relative;
  display: block;
  padding: 15px 15px;
}


.navbar-nav > form > li {
  float: left;
}

.navbar-default .navbar-brand{
    color: #ffffff;
    font-family: 'Segoe UI Light_','Open Sans Light',Verdana,Arial,Helvetica,sans-serif;
      font-size: 14px;
        text-decoration: none;  line-height: 15px;  height: 45px;
}




html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 201px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 230px;
    background-color: #333;
    color: #ffffff;
}

body {
    padding-top: 101px;
    padding-bottom: 20px;


}
